//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 0 !important;
	width: 100%;
	color: #4f4f4f;
	font-size: rem(15);
	height: 100%;
	display: block;
	padding: 0 rem(25);
	//border: 1px solid #eee;
	&._form-focus {
		color: #000;
	}
	&._form-error {
		color: red;
		margin-bottom: rem(10);
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
