@font-face {
	font-family: BravoRG;
	font-display: swap;
	src: url("../fonts/BravoRG.woff2") format("woff2"), url("../fonts/BravoRG.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Ceremonious;
	font-display: swap;
	src: url("../fonts/Ceremonious.woff2") format("woff2"), url("../fonts/Ceremonious.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PFDin;
	font-display: swap;
	src: url("../fonts/PFDin-regular.woff2") format("woff2"), url("../fonts/PFDin-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PFDin;
	font-display: swap;
	src: url("../fonts/PFDin-medium.woff2") format("woff2"), url("../fonts/PFDin-medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Glen_Jan;
	font-display: swap;
	src: url("../fonts/Glen_Jan.woff2") format("woff2"), url("../fonts/Glen_Jan.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Harbell;
	font-display: swap;
	src: url("../fonts/Harbell.woff2") format("woff2"), url("../fonts/Harbell.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Rouble;
	font-display: swap;
	src: url("../fonts/Rouble.woff2") format("woff2"), url("../fonts/Rouble.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
