// Заголовки, общие БЄМ блоки и проче...

//========================================================================================================================================================
p:not(:last-child) {
	margin-bottom: rem(10);
}

// ======================================================================================================================================================================================================================
// класс .title, который будет применяться в других блоках
.title {
	text-align: center;
	// .title__item
	&__item {
		font-family: "Ceremonious";
		font-size: rem(40);
		color: $mainColorLine;
		// margin: 0 0 math.div(20px, 40px) * 1em 0;
		margin-bottom: rem(23);
	}
	// .title__main
	&__main {
		font-family: "PFDin";
		font-size: rem(35);
		@include adaptiveValue("font-size", 35, 28);
		line-height: math.div(40, 35);
		text-transform: uppercase;
		// letter-spacing: 0.15em;
		letter-spacing: rem(5.25);
		font-weight: 500;
		// .title__main_w
		&_w {
			color: #ffffff;
		}
		// .title__main_regular
		&_regular {
			font-weight: 400;
		}
	}
}

//========================================================================================================================================================
//========================================================================================================================================================
.btn {
	position: relative;
	display: inline-block;
	&:before,
	&::after {
		position: absolute;
		left: 0;
		height: rem(3);
		width: 100%;
		content: "";
	}
	&::before {
		// верхняя граница рамки кнопки
		top: 0;
		background-color: #c3a774;
	}
	&::after {
		// нижняя граница рамки кнопки
		bottom: 0;
		background-color: #8f6630;
	}
	// .btn__body
	&__body {
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			height: 100%;
			width: rem(3);
			background-image: linear-gradient(to top, #8f6630, #c3a774);
		}
		&::before {
			left: 0%;
		}
		&::after {
			right: 0;
		}
		span {
			min-height: rem(50);
			color: #fff;
			font-size: rem(15);
			font-family: "PFDin";
			letter-spacing: rem(2);
			text-transform: uppercase;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 rem(50);
			position: relative;
			&::after {
				content: "";
				height: rem(50);
				transition: all 0.5s ease 0s;
				opacity: 0.06;
				// background-image: -webkit-gradient(linear, left bottom, left top, from($mainColorLine), to(rgba(187, 156, 102, 0)));
				// background-image: -o-linear-gradient(bottom, $mainColorLine 0%, rgba(187, 156, 102, 0) 100%);
				background-image: linear-gradient(to top, $mainColorLine 0%, rgba(187, 156, 102, 0) 100%);
				top: 0;
				left: 0;
				position: absolute;
				width: 100%;
			}
		}
	}
	&_big {
		.btn__body span {
			font-size: rem(21);
			color: #000000;
			letter-spacing: 0;
			padding: 0 rem(10);
			font-weight: 500;
		}
	}
	@media (any-hover: hover) {
		&:hover {
			.btn__body span {
				&::after {
					opacity: 0.3;
					height: 100%;
				}
			}
		}
	}
	&._fw {
		width: 100%;
	}
}
//========================================================================================================================================================
//========================================================================================================================================================
.block-header {
	// .block-header__title
	&__title {
		margin: 0 0 rem(20) 0;
	}
	// .block-header__decor
	&__decor {
	}
}

.block-decor {
	display: flex;
	align-items: center;
	// .block-decor__items
	&__items {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		&::before {
			content: "";
			height: rem(1);
			width: 100%;
			flex: 1 1 auto;
			background-color: $mainColorLine;
		}
		&::after {
			content: "";
			height: calc(rem(25) * 0.72);
			width: calc(rem(25) * 0.72);
			flex: 0 0 25px * 0.72;
			transform: rotate(-45deg);
			border: rem(1) solid $mainColorLine;
			margin: 0 rem(5) 0 rem(5);
		}
		span {
			display: flex;
			align-items: center;
			margin: 0 rem(5);
			&::before {
				content: "";
				height: rem(10);
				width: rem(10);
				flex: 0 0 rem(10);
				border-radius: 50%;
				border: rem(1) solid $mainColorLine;
				margin: 0 rem(5);
			}
			&::after {
				content: "";
				height: calc(rem(15) * 0.72);
				width: calc(rem(15) * 0.72);
				flex: 0 0 15px * 0.72;
				border: rem(1) solid $mainColorLine;
				transform: rotate(-45deg);
			}
		}
		&:last-child {
			flex-direction: row-reverse;
			span {
				flex-direction: row-reverse;
			}
		}
	}
	// .block-decor__icon
	&__icon {
		text-align: center;
		flex: 0 0 rem(150);
		img {
			max-width: rem(70);
		}
		@media (max-width: $mobile) {
			flex: 0 0 rem(95);
		}
	}
}
//========================================================================================================================================================
//========================================================================================================================================================
// .lot
.lot {
	display: flex;
	flex-direction: column;
	height: 100%;
	text-align: center;
	// .lot__header
	&__header {
		text-align: center;
		margin-bottom: rem(30);
		position: relative;
	}
	// .lot__image -ibg
	&__image-ibg {
		display: block;
		border: rem(3) solid $mainColorLine;
		padding: 0 0 98% 0;
	}
	// .lot__timer
	&__timer {
	}
	// .lot__title
	&__title {
		// font-size: rem(21);
		@include adaptiveValue("font-size", 21, 18);
		line-height: math.div(25, 21);
		font-weight: 500;
		color: #000000;
		font-family: "PFDin";
		text-transform: uppercase;
		flex: 1 1 auto;
		z-index: 2;
		margin: 0 0 rem(27) 0;
		@media (min-width: $tablet) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .lot__info
	&__info {
	}
	// .lot__btn
	&__btn {
		margin: 0 rem(25);
	}
}

.timer-lot {
	position: relative;
	transform: translate(-50%, 50%); // вверх на 50%
	width: rem(72);
	height: rem(72);
	display: inline-flex;
	align-items: center;
	flex-direction: column;
	padding-top: rem(2);
	// background-color: #ffffff;
	position: absolute;
	left: 50%;
	bottom: 0;
	div {
		position: relative;
		z-index: 2;
	}
	&::before {
		content: "";
		background-color: #ffffff;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transform: rotate(-45deg);
	}
	// .timer-lot__icon
	&__icon {
		margin-bottom: rem(5);
	}
	// .timer-lot__item
	&__item {
		font-family: "PT Sans Narrow";
		font-size: rem(18);
	}
}

//===================
.info-lot {
	display: flex;
	justify-content: center;
	margin-bottom: rem(35);
	// .info-lot__statistic
	&__statistic {
		flex: 0 0 rem(50);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .info-lot__icon
	&__icon {
		width: rem(18); // 25px * 0.72
		height: rem(18);
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin-bottom: rem(10);
		img {
			position: relative;
			z-index: 2;
		}
		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			transform: rotate(-45deg);
			background-color: #000;
		}
	}
	// .info-lot__value
	&__value {
		font-size: rem(14);
		padding-bottom: rem(5);
		width: rem(50);
		border-bottom: rem(1) solid $mainColorLine;
	}
	// .info-lot__current-bet
	&__current-bet {
		flex: 1 1 auto;
		@media (max-width: $tablet) {
			flex: 0 0 auto;
		}
	}
}

.current-bet-info-lot {
	padding: 0 rem(5);
	position: relative;
	@media (max-width: $tablet) {
		padding: 0 rem(10);
	}
	&::after {
		content: "";
		position: absolute;
		width: rem(72);
		height: rem(72);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
		border: 1px solid $mainColorLine;
		z-index: -1;
	}
	div {
		position: relative;
		z-index: 2;
	}
	// .current-bet-info-lot__label
	&__label {
		margin-bottom: rem(5);
		//line-height: math.div(25, 14);
	}
	// .current-bet-info-lot__value
	&__value {
		font-family: "BravoRG";
		// font-size: rem(50);
		white-space: nowrap;
		@include adaptiveValue("font-size", 50, 35);
	}
	// .current-bet-info-lot__currency
	&__currency {
		font-size: rem(20);font-weight: 600;
	}
}
//========================================================================================================================================================
// .item из секции categories
.item {
	position: relative;
	padding: rem(30) rem(30) rem(40) rem(30);
	text-align: center;
	height: rem(250);
	width: rem(250);
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (min-width: $tablet) {
		&:hover {
			.item__bg-ibg {
				transform: scale(1.1);
				&::after {
					background-color: rgba(0, 0, 0, 0.4);
				}
			}
		}
	}
	// .item__link
	&__link {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 5;
		border-radius: 50%;
		overflow: hidden;
	}
	// .item__icon
	&__icon {
		position: relative;
		z-index: 2;
		margin: 0 0 rem(22) 0;
	}
	// .item__title
	&__title {
		letter-spacing: 2.1px;
		position: relative;
		z-index: 2;
		color: #fff;
		font-size: rem(21);
		line-height: math.div(25, 21);
		font-weight: 500;
		text-transform: uppercase;
		font-family: "PFDin";
		flex: 1 1 auto;
		text-align: center;
	}
	// .item__deco
	&__deco {
		text-align: center;
		position: relative;
		z-index: 2;
	}
	// .item__bg
	&__bg-ibg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: transform 0.8s ease 0s;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.6);
		}
	}
}
//========================================================================================================================================================
//===============
.service {
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 100%; // для того чтобы колонки были одинаковые по высоте
	// .service__image
	&__image {
		height: rem(205);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: rem(10);
	}
	// .service__title
	&__title {
		font-family: "PFDin";
		font-size: rem(21);
		line-height: math.div(25, 21);
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1.1px;
		color: #ffffff;
		flex: 1 1 auto; // для того чтобы колонки были одинаковые по высоте
	}
	// .service__text
	&__text {
		font-size: rem(15);
		line-height: math.div(25, 15);
		color: $mainColorLine;
		margin-top: rem(23);
		max-height: rem(50); // для того чтобы колонки были одинаковые по высоте
		overflow: hidden; // для того чтобы колонки были одинаковые по высоте
		// ? Можно использовать как вариант
		// или добавим 3 строчки и 3 точки
		// display: -webkit-box;
		// -webkit-line-clamp: 3;
		// -webkit-box-orient: vertical;
		// overflow: hidden;
	}
	// .service__btn
	&__btn {
		font-family: "PFDin";
		font-size: rem(21);
		line-height: math.div(25, 21);
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #ffffff;
		text-align: center;
		position: relative;
		margin-top: rem(30);
		&::before {
			content: "";
			position: absolute;
			background-color: $mainColorLine;
			height: rem(1);
			width: 100%;
			top: 50%;
			left: 0;
		}
		span {
			background-color: $mainColorBlock;
			position: relative;
			z-index: 2;
			padding: 0 rem(15);
		}
	}
}

//========================================================================================================================================================
.title-info {
	display: flex;
	align-items: center;
	font-size: rem(35);
	font-family: "PFDin";
	font-weight: 500;
	letter-spacing: rem(3.5);
	text-transform: uppercase;
	margin-bottom: rem(30);
	@media (max-width:$mobile){
		margin-bottom: rem(15);
	}
	& span:first-child {
		margin: 0 rem(15) 0 0;
		& picture {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
//========================================================================================================================================================

//========================================================================================================================================================

// +++++!!!!!!!!!+++++++++++
.none {
	display: none;
}
// +++++!!!!!!!!!+++++++++++
