//====================================================================================================
.page {
	flex: 1 1 auto;
	// .page__gallery
	&__gallery {
	}
	// .page__lots
	&__lots {
	}
}
//========================================================================================================================================================
// .gallery
.gallery {
	position: relative;
	// чтобы высота слайда былы одинаковая
	.swiper-wrapper {
		align-items: stretch;
		// убираем резиновость колонок
		@media (max-width: $mobile) {
			align-items: flex-start;
		}
	}
	// .gallery__slider
	&__slider {
	}
	// .gallery__wrapper
	&__wrapper {
	}
	// .gallery__slide
	&__slide {
	}
	// .gallery__control
	&__control {
		position: absolute;
		z-index: 2;
		left: 50%;
		bottom: 0%;
		width: rem(100);
		height: rem(100);
		transform: translate(-50%, 50%);
		display: flex;
		justify-content: center;
		align-items: center;
		&::after {
			content: "";
			background-color: #fff;
			position: absolute;
			width: 70%;
			height: 70%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

// .swiper-slide
.swiper-slide {
	text-align: center;
	padding: rem(30) 0 rem(100) 0;
	// @include adaptiveValue("padding-bottom", 100, 50);
	position: relative;
	// .swiper-slide__content
	&__content {
		position: relative;
		z-index: 2;
		height: 100%; // чтобы контент встал на высоту слайда
	}
	// .swiper-slide__container
	&__container {
		height: 100%; // чтобы контент встал на высоту слайда
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .swiper-slide__image-ibg
	&__image-ibg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	// .swiper-slide__title
	&__title {
	}
	// .swiper-slide__text
	&__text {
		max-width: rem(700);
		margin: rem(25) auto 0 auto;
		font-size: rem(15);
		line-height: math.div(25, 15);
		color: #fff;
		flex: 1 1 auto;
	}
	// .swiper-slide__btn
	&__btn {
		margin: rem(55) 0 0 0;
		//@include adaptiveValue("margin-top", 50, 50);
	}
}

// .control-gallery
.control-gallery {
	// .control-gallery__arrow
	&__arrow {
		position: relative;
		z-index: 2;
		background: url("@img/icons/sl-arrow.png") 0 0 no-repeat;
		width: rem(14);
		height: rem(24);
		cursor: pointer;
		// .control-gallery__arrow_prev
		&_prev {
		}
		// .control-gallery__arrow_next
		&_next {
			transform: rotate(-180deg);
		}
	}
	// .control-gallery__decor
	&__decor {
		position: relative;
		z-index: 2;
		margin: 0 rem(12);
		animation: rotate 8s infinite linear; // чтобы бублик между стрелками крутился
	}
}
// чтобы бублик между стрелками крутился
@keyframes rotate {
	0% {
	}
	100% {
		transform: rotate(360deg);
	}
}
//====================================================================================================
//========================================================================================================================================================

// .lots
.lots {
	padding: rem(85) 0 rem(63) 0;
	@include adaptiveValue("padding-top", 85, 60);
	// .lots__container
	&__container {
	}
	// .lots__header
	&__header {
		margin: 0 0 rem(40) 0;
	}
	// .lots__slider
	&__slider {
	}
}
// ? все остальное в файле common.scss

.slider-lots {
	// .slider-lots__slider
	&__slider {
		margin: 0 rem(-50) rem(50);	
		.swiper-wrapper {
			align-items: stretch;
		}
		@media (max-width:$tablet){
			margin: 0 rem(-15) rem(50);
		}	
	}
	// .slider-lots__wrapper
	&__wrapper {
		//align-items: stretch;
	}
	// .slider-lots__slide
	&__slide {
		padding: 0 rem(50);	
		@media (max-width:$tablet){
			padding: 0 rem(15);
		}	
	}
	// .slider-lots__control
	&__control {
	}
}

.control-slider-lots {
	display: flex;
	justify-content: center;
	align-items: center;
	// .control-slider-lots__arrow
	&__arrow {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		cursor: pointer;
		span {
			background: url("@img/icons/sl-arrow.svg") left 0 no-repeat;
			flex: 0 0 rem(108);
			overflow: hidden;
			width: rem(108);
			height: rem(35);
			@media (max-width:$mobileSmall){
				flex: 0 0 rem(50);
			}
		}
		// .control-slider-lots__arrow_prev
		&::after {
			content: "";
			margin: 0 rem(5);
			width: rem(15);
			height: rem(15);
			border-radius: 50%;
			border: rem(1) solid #bb9c66;
		}
		&:last-child {
			flex-direction: row-reverse;
			span {
				transform: rotate(-180deg);
			}
		}
		// .control-slider-lots__arrow_next
		&_next {
		}
	}
	// .control-slider-lots__link
	&__link {
		background: url("@img/icons/circle.png") 0 0 no-repeat;
		flex: 0 0 rem(100);
		// width: rem(100);
		height: rem(100);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: rem(21);
		color: #000;
		font-weight: 500;
		font-family: "PFDin";
		margin: 0 rem(20);
	}
}

// ++++++++++++++++++++++++++++++++++


//========================================================================================================================================================
//========================================================================================================================================================

//========================================================================================================================================================
//========================================================================================================================================================
