//====================================================================================================
.page {
	flex: 1 1 auto;
	// .page__gallery
	&__gallery {
	}
	// .page__lots
	&__lots {
	}
	// .page__categories
	&__categories {
	}
}
//========================================================================================================================================================
// section gallery
.gallery {
	position: relative;
	// чтобы высота слайда былы одинаковая
	.swiper-wrapper {
		align-items: stretch;
		// убираем резиновость колонок
		@media (max-width: $mobile) {
			align-items: flex-start;
		}
	}
	// .gallery__slider
	&__slider {
	}
	// .gallery__wrapper
	&__wrapper {
	}
	// .gallery__slide
	&__slide {
	}
	// .gallery__control
	&__control {
		position: absolute;
		z-index: 2;
		left: 50%;
		bottom: 0%;
		width: rem(100);
		height: rem(100);
		transform: translate(-50%, 50%);
		display: flex;
		justify-content: center;
		align-items: center;
		&::after {
			content: "";
			background-color: #fff;
			position: absolute;
			width: 70%;
			height: 70%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

// .swiper-slide
.swiper-slide {
	text-align: center;
	padding: rem(30) 0 rem(100) 0;
	// @include adaptiveValue("padding-bottom", 100, 50);
	position: relative;
	// .swiper-slide__content
	&__content {
		position: relative;
		z-index: 2;
		height: 100%; // чтобы контент встал на высоту слайда
	}
	// .swiper-slide__container
	&__container {
		height: 100%; // чтобы контент встал на высоту слайда
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .swiper-slide__image-ibg
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	// .swiper-slide__title
	&__title {
	}
	// .swiper-slide__text
	&__text {
		max-width: rem(700);
		margin: rem(25) auto 0 auto;
		font-size: rem(15);
		line-height: math.div(25, 15);
		color: #fff;
		flex: 1 1 auto;
	}
	// .swiper-slide__btn
	&__btn {
		margin: rem(55) 0 0 0;
		//@include adaptiveValue("margin-top", 50, 50);
	}
}

// .control-gallery
.control-gallery {
	// .control-gallery__arrow
	&__arrow {
		position: relative;
		z-index: 2;
		background: url("@img/icons/sl-arrow.png") 0 0 no-repeat;
		width: rem(14);
		height: rem(24);
		cursor: pointer;
		// .control-gallery__arrow_prev
		&_prev {
		}
		// .control-gallery__arrow_next
		&_next {
			transform: rotate(-180deg);
		}
	}
	// .control-gallery__decor
	&__decor {
		position: relative;
		z-index: 2;
		margin: 0 rem(12);
		animation: rotate 8s infinite linear; // чтобы бублик между стрелками крутился
	}
}
// чтобы бублик между стрелками крутился
@keyframes rotate {
	0% {
	}
	100% {
		transform: rotate(360deg);
	}
}
//====================================================================================================
//========================================================================================================================================================

// section lots
.lots {
	padding: rem(85) 0 rem(63) 0;
	@include adaptiveValue("padding-top", 85, 60);
	// .lots__container
	&__container {
	}
	// .lots__header
	&__header {
		margin: 0 0 rem(40) 0;
	}
	// .lots__slider
	&__slider {
	}
}
// ? все остальное в файле common.scss

.slider-lots {
	// .slider-lots__slider
	&__slider {
		margin: 0 rem(-50) rem(50);
		.swiper-wrapper {
			align-items: stretch;
		}
		@media (max-width: $tablet) {
			margin: 0 rem(-15) rem(50);
		}
	}
	// .slider-lots__wrapper
	&__wrapper {
		//align-items: stretch;
	}
	// .slider-lots__slide
	&__slide {
		padding: 0 rem(50);
		@media (max-width: $tablet) {
			padding: 0 rem(15);
		}
	}
	// .slider-lots__control
	&__control {
	}
}

.control-slider-lots {
	display: flex;
	justify-content: center;
	align-items: center;
	// .control-slider-lots__arrow
	&__arrow {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		cursor: pointer;
		span {
			background: url("@img/icons/sl-arrow.svg") left 0 no-repeat;
			flex: 0 0 rem(108);
			overflow: hidden;
			width: rem(108);
			height: rem(35);
			@media (max-width: $mobileSmall) {
				flex: 0 0 rem(50);
			}
		}
		// .control-slider-lots__arrow_prev
		&::after {
			content: "";
			margin: 0 rem(5);
			width: rem(15);
			height: rem(15);
			border-radius: 50%;
			border: rem(1) solid $mainColorLine;
		}
		&:last-child {
			flex-direction: row-reverse;
			span {
				transform: rotate(-180deg);
			}
		}
		// .control-slider-lots__arrow_next
		&_next {
		}
	}
	// .control-slider-lots__link
	&__link {
		background: url("@img/icons/circle.png") 0 0 no-repeat;
		flex: 0 0 rem(100);
		// width: rem(100);
		height: rem(100);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: rem(21);
		color: #000;
		font-weight: 500;
		font-family: "PFDin";
		margin: 0 rem(20);
	}
}

//========================================================================================================================================================
//========================================================================================================================================================
// section categories
.categories {
	@include adaptiveValue("margin-bottom", 70, 50);
	// .categories__items
	&__items {
		@include adaptiveValue("margin-bottom", 85, 50);
	}
	// .categories__container
	&__container {
		overflow: hidden; // чтобы скрыть крайний справа декор
		position: relative;
		&::after {
			// чтобы скрыть точки снизу контейнера
			content: "";
			position: absolute;
			bottom: 0;
			height: rem(45);
			background-color: #fff;
			width: 100%;
		}
	}
	// .categories__row
	&__row {
		display: flex;
		margin: 0 rem(-50);
		flex-wrap: wrap;
		position: relative;
		padding-top: rem(32); // из них 2px, чтобы верхние ромбы не подрезало
		&::before, // два ромба над лотами, как псевдоэлемент
		&::after {
			content: "";
			position: absolute;
			top: rem(2); // чтобы верхние ромбы не подрезало
			width: rem(17.28); // 24 * 0.72
			height: rem(17.28);
			flex: 0 0 rem(17.28);
			transform: translate(-50%, 0) rotate(-45deg);
			border: rem(1) solid $mainColorLine;
		}
		&::before {
			left: 33.333%;
			@media (max-width: $tablet) {
				left: 50%;
			}
		}
		&::after {
			left: 66.667%;
			@media (max-width: $tablet) {
				display: none;
			}
		}
	}
	// .categories__column
	&__column {
		padding: 0 rem(50) rem(25);
		flex: 0 1 33.333%;
		margin: 0 0 rem(25) 0;
		position: relative;
		display: flex; // выравнивание при 2 и 1 колонки
		justify-content: center; // выравнивание при 2 и 1 колонки
		&::before {
			content: "";
			background-color: $mainColorLine;
			width: rem(10);
			height: rem(10);
			flex: 0 0 rem(10);
			border-radius: 50%;
			position: absolute;
			left: 50%;
			bottom: rem(-5);
			transform: translate(-50%, 0);
		}
		@media (max-width: $tablet) {
			flex: 0 1 50%; // 2 колонки
		}
		@media (max-width: rem(650)) {
			flex: 1 1 100%; // 1 колонка
		}
	}
	// .categories__item
	&__item {
	}
	// .categories__decor
	&__decor {
		position: absolute;
		right: 0;
		top: 0;
		width: rem(24);
		transform: translate(50%, 0);
		height: calc(100% + rem(10)); // 10px, чтобы выровнять ромб посередине между строк
		z-index: 5;
		display: flex;
		flex-direction: column;
		align-items: center;
		&::before {
			content: "";
			background-color: $mainColorLine;
			width: rem(1);
			flex: 1 1 auto;
		}
		&::after {
			content: "";
			width: rem(17.28); // 24 * 0.72
			height: rem(17.28);
			flex: 0 0 rem(17.28);
			transform: rotate(-45deg);
			border: rem(1) solid $mainColorLine;
			margin-top: rem(15);
		}
		span {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			&::before {
				content: "";
				background-color: $mainColorLine;
				width: rem(10);
				height: rem(10);
				flex: 0 0 rem(10);
				border-radius: 50%;
				margin: rem(20) 0;
			}
			&::after {
				content: "";
				background-color: $mainColorLine;
				width: rem(1);
				flex: 1 1 auto;
			}
		}
	}
	// .categories__text
	&__text {
	}
}

.text-categories {
	color: #333333;
	font-size: rem(15);
	line-height: math.div(25, 15);
	p {
		&:not(:last-child) {
			margin-bottom: rem(25);
		}
	}
	// .text-categories__container
	&__container {
	}
	// .text-categories__body
	&__body {
		padding: rem(10) 0 rem(25) rem(130);
		background: url("@img/categories/decor.png") left top repeat-y;
		position: relative;
		&::before {
			content: "";
			background: url("@img/categories/decor_header.png") 0 0 no-repeat;
			position: absolute;
			top: rem(-5);
			left: rem(0.5);
			width: rem(85);
			height: rem(12);
		}
	}
}

//========================================================================================================================================================
//========================================================================================================================================================
.services {
	@include adaptiveValue("padding-top", 60, 40);
	@include adaptiveValue("padding-bottom", 40, 0);

	background-color: $mainColorBlock;
	// .services__container
	&__container {
	}
	// .services__header
	&__header {
		margin-bottom: rem(40);
	}
	// .services__row
	&__row {
		margin: 0 rem(-50);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	// .services__column
	&__column {
		padding: 0 rem(50);
		flex: 0 1 33.333%;
		margin-bottom: rem(60);
		// max-width: 33.333%; // если нужна кроссбраузерность, для интернет эксплоера
		@media (max-width: $tablet) {
			flex: 0 1 50%;
		}
		@media (max-width: rem(640)) {
			flex: 1 1 100%;
		}
	}
	// .services__item
	&__item {
	}
}

//========================================================================================================================================================
//========================================================================================================================================================
.quotes {
	padding: rem(64) 0 rem(70) 0;
	// .quotes__container
	&__container {
	}
	// .quotes__slider
	&__slider {
	}
}

.slider-quotes {
	// .slider-quotes__slider
	&__slider {
		margin-bottom: rem(20);
	}
	// .slider-quotes__wrapper
	&__wrapper {
	}
	// .slider-quotes__slide
	&__slide {
		display: flex;
		align-items: center;
		text-align: left;
		padding: 0;
		opacity: 0 !important;
		&.swiper-slide-active {
			opacity: 1 !important;
		}
		@media (max-width: rem(570)) {
			flex-direction: column;
		}
	}
	// .slider-quotes__image
	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 rem(20);
		flex: 0 0 33.684%; // 320px / 950px
		img {
			max-width: 100%;
		}
		@media (max-width: rem(570)) {
			margin-bottom: rem(15);
		}
	}
	// .slider-quotes__content
	&__content {
		flex: 0 1 rem(515);
		@media (max-width: rem(570)) {
			flex: 0 0 auto;
		}
	}
	// .slider-quotes__title
	&__title {
		font-size: rem(25);
		//@include adaptiveValue("font-size", 25, 20);
		line-height: math.div(30, 25);
		font-style: italic;
		//margin-bottom: rem(31);
		@include adaptiveValue("margin-bottom", 31, 20);
		@media (max-width: rem(570)) {
			padding: 0 rem(20);
		}
	}
	// .slider-quotes__info
	&__info {
		color: $mainColorBlock;
		font-size: rem(15);
		p:not(:last-child) {
			margin-bottom: rem(7);
		}
		@media (max-width: rem(570)) {
			padding: 0 rem(20);
		}
	}
	// .slider-quotes__control
	&__control {
	}
}

.control-slider-quotes {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: rem(400);
	margin: 0 auto;
	// .control-slider-quotes__decor
	&__decor {
		flex: 0 1 33.333%;
		display: flex;
		align-items: center;
		&::before {
			content: "";
			flex: 1 1 auto;
			height: rem(1);
			background-color: $mainColorLine;
		}
		&::after {
			content: "";
			margin: 0 0 0 rem(5);
			width: rem(10);
			height: rem(10);
			border-radius: 50%;
			border: rem(1) solid $mainColorLine;
		}
		&:last-child {
			flex-direction: row-reverse;
			&::after {
				content: "";
				margin: 0 rem(5) 0 0;
			}
		}
	}
	// .control-slider-quotes__link
	&__link {
		flex: 0 1 33.333%;
		text-align: center;
	}
	// .control-slider-quotes__circle
	&__circle {
		display: inline-flex;
		width: rem(50);
		height: rem(50);
		border-radius: 50%;
		border: rem(1) solid $mainColorLine;
		cursor: pointer;
		background: url("@img/icons/rotate-arrow.svg") center no-repeat;
	}
}

//========================================================================================================================================================
//========================================================================================================================================================
.info {
	padding-bottom: rem(75);
	// .info__container
	&__container {
	}
	// .info__row
	&__row {
		display: flex;
		margin: 0 rem(-22);
		flex-wrap: wrap;
	}
	// .info__column
	&__column {
		flex: 0 1 50%;
		padding: 0 rem(22);
		margin-bottom: rem(55);
		&:last-child {
			margin: 0;
			flex: 1 1 100%;
		}
	}
	// .info__block
	&__block {
	}
	// .info__title
	&__title {
	}
	// .info__content
	&__content {
	}
	// .info__item
	&__item {
		margin-bottom: rem(30);
	}
	// .info__date
	&__date {
		color: $mainColorLine;
		font-size: rem(12);
		margin-bottom: rem(5);
	}
	// .info__label
	&__label {
		font-size: rem(15);
		color: #333333;
		font-weight: 700;
		text-decoration: underline;
		display: inline-block;
		margin-bottom: rem(5);
	}
	// .info__text
	&__text {
		font-size: rem(12);
		line-height: math.div(21, 15);
	}
	// .info__subscribe
	&__subscribe {
	}
}

.title-info {
// 	margin-bottom: rem(15);
}

.subscribe {
	//display: flex;
	//margin: 0 rem(-22);
	// .subscribe__title
	&__title {
	}
	// .subscribe__body
	&__body {
		display: flex;
		margin: 0 rem(-22);
	}
	// .subscribe__column
	&__column {
		flex: 0 1 50%;
		padding: 0 rem(22);
	}
	// .subscribe__text
	&__text {
		font-size: rem(15);
		line-height: math.div(21, 15);
	}
	// .subscribe__form
	&__form {
	}
}

.form-subscribe {
	height: rem(50);
	border: rem(3) solid $mainColorLine;
	background-color: #ffffff;
	display: flex;
	// .form-subscribe__input
	&__input {
		flex: 1 1 auto;		
	}
	// .form-subscribe__btn
	&__btn {
		position: relative;
		flex: 0 0 rem(95);
		background-color: #fff;
		&::before{
			content:'';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(0px, -50%);
			width: rem(1);
			height: rem(32);
			background-color: $mainColorLine;
		}
		& span {
			background: url("@img/icons/ok-btn.png") right no-repeat;
			padding: 0 rem(32) 0 0;
			color: $mainColorBlock;
			font-family: "PFDin";
			font-size: rem(21);
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: rem(2.12);
		}
	}
}
